
/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:#426B5C ;
    color: #333;
    display: flex; /* Make the body a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
}

/* Container Styling */
.container {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    background:#F4EFEA;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    text-align: center;
    color: #555;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* justify-content: center;
    align-items: center; */
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input, select {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 0.7rem;
    font-size: 1rem;
    color: #fff;
    background-color:#426B5C  ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color:#598073 ;
}

/* Recommendation Section */
.recommendation {
    margin-top: 2rem;
    text-align: center;
}

.hidden {
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }
}